@media screen and (max-width: 370px) {
    .headerTextSize {
        font-size: 10px;
    }
  }

 /* this styling is for the check box input for login component*/
input[type=checkbox] {
    accent-color: #814adf;
    height: 18px;
    width: 18px;
  }
